<!-- <h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p> -->


  <!-- start slider -->
  <div class="slider">
      <div id="main-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#main-slider" data-slide-to="0" class="active"></li>
              <li data-target="#main-slider" data-slide-to="1"></li>
              <li data-target="#main-slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <h1>We're an Independent<br>
                  Design & <span class="development">Development</span><br>
                  Agency.</h1>
              <div class="overlay">
              </div>
              <div class="carousel-item carousel-one active">
                  <img src="assets/images/slider01.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item carousel-two">
                  <img src="assets/images/slider02.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item carousel-three">
                  <img src="assets/images/slider03.jpg" class="d-block w-100" alt="...">
              </div>
          </div>
          <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
  <!-- End slider -->
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- Start Features -->
  <div class="features text-center">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <i class="fa fa-home rounded-circle fa-3x "></i>
                  <h3>Great Ideas</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla quod voluptatem ullam
                      temporibus et sequi dolorem? Quis nulla qui natus numquam temporibus nobis aperiam consequuntur
                      laboriosam, fugit rem delectus.</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <i class="fa fa-home fa-3x rounded-circle"></i>
                  <h3>Great Ideas</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla quod voluptatem ullam
                      temporibus et sequi dolorem? Quis nulla qui natus numquam temporibus nobis aperiam consequuntur
                      laboriosam, fugit rem delectus.</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <i class="fa fa-cloud fa-3x rounded-circle"></i>
                  <h3>Great Ideas</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla quod voluptatem ullam
                      temporibus et sequi dolorem? Quis nulla qui natus numquam temporibus nobis aperiam consequuntur
                      laboriosam, fugit rem delectus.</p>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <i class="fa fa-home fa-3x rounded-circle"></i>
                  <h3>Great Ideas</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nulla quod voluptatem ullam
                      temporibus et sequi dolorem? Quis nulla qui natus numquam temporibus nobis aperiam consequuntur
                      laboriosam, fugit rem delectus.</p>
              </div>
          </div>
      </div>
  </div>
  <!-- End Features -->
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- Start Company OverView -->
  <div class="overview">
      <div class="container">
          <h1 class="company">Company Overview</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis voluptatibus aut<br>
              voluptas minus error omnis officia quod, eos saepe veritatis laborum quas officiis sequi,<br>
              suscipit at explicabo sapiente. Inventore!
          </p>
          <p>Let's Start Today</p>
          <button type="button" class="btn ">view more</button>
      </div>
  </div>
  <!-- End Company OverView -->
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!--Start featured work section-->
  <div class="featuredWork">
      <div class="container">
          <h1 class="feature">Featured Work</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
              incididunt ut labore et dolore magna aliqua Ut enim veniam.
          </p>
          <div class="buttons">
              <button data-class="all" class="active">All</button>
              <button data-class="websites">Website</button>
              <button data-class="Logos">Logo & Branding</button>
              <button data-class="Graphics">Graphic Design</button>
              <button data-class="Marketing">Online Marketing</button>
              <button data-class="Videos">Video</button>
          </div>
      </div>
      <div class="shuffle-images">
          <div class="row">
              <div class="col-md">
                  <img class="websites" src="images/1.jpg">
              </div>
              <div class="col-md">
                  <img class="Logos" src="images/2.png">
              </div>
              <div class="col-md">
                  <img class="websites" src="images/3.jpg">
              </div>
              <div class="col-md">
                  <img class="Logos" src="images/4.png">
              </div>
              <div class="row">
                  <div class="col-md">
                      <img class="Graphics" src="images/5.jpg">
                  </div>
                  <div class="col-md">
                      <img class="Marketing" src="images/6.jpg">
                  </div>
                  <div class="col-md">
                      <img class="websites" src="images/7.jpg">
                  </div>
                  <div class="col-md">
                      <img class="Videos" src="images/8.png">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--End featured work section-->
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!--Start Latest post section-->
  <div class="latestPost">
      <div class="container">
          <h1 class="post text-center">Latest Posts</h1>
          <p class="mainPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
              tempor incididunt ut labore et dolore magna aliqua Ut enim veniam.
          </p>
          <div class="row">
              <div id="card" class="col-md-4">
                  <img src="images/latest_post-1.jpg">
                  <h4 class="title">How latest technologies changing people's life</h4>
                  <h6>February 14,2020</h6>
                  <p class="par">Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="readmore">Read more</div>
              </div>
              <div id="card" class="col-md-4">
                  <img src="images/latest_post-2.jpg">
                  <h4 class="title">5 Thing to know before you start new blog</h4>
                  <h6>February 14,2020</h6>
                  <p class="par">Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="readmore">Read more</div>
              </div>
              <div id="card" class="col-md-4">
                  <img src="images/latest_post-3.jpg">
                  <h4 class="title">2017 is the year of startups are you for it</h4>
                  <h6>February 14,2020</h6>
                  <p class="par">Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="readmore">Read more</div>
              </div>
          </div>
      </div>
  </div>
  <!--End  section-->
  <!-- start slider -->
  <div class="testimonials">
      <div class="overlay"></div>
      <div class="container">
          <div id="main-slider" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#main-slider" data-slide-to="1"></li>
                  <li data-target="#main-slider" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                      tempor incididunt ut labore et dolore magna aliqua Ut enim veniam.</h1>
                  <div class="overlay text-center">
                      <img src="images/testi-thumb.png" />
                      <div class="carousel-caption d-none d-md-block">
                          <h3></h3>
                          <p></p>
                      </div>
                  </div>
                  <div class="carousel-item carousel-one active">
                      <img src="images/slider01.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item carousel-two">
                      <img src="images/slider02.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item carousel-three">
                      <img src="images/slider03.jpg" class="d-block w-100" alt="...">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  <!-- <embed src="filename.pdf" style="width:px; height: px;"> -->
  <!-- End slider -->
  <script src="assets/js/all.min.js"></script>
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- <script src="js/fontawesome.min.js"></script> -->
